<%- await include('source/handlers/frontend/templates/header.ejs') %>
<form action="/api/brands" method="POST">
    <input type="text" placeholder="data"></input>
    <input type="submit"></input>
</form>
<%- await include('source/handlers/frontend/templates/footer.ejs') %>