name: Deploy

# Based on @asb's comment https://www.digitalocean.com/community/questions/how-to-deploy-using-github-action
on: 
  push: 
    branches: 
        - master 
        - deploy # TODO REMOVE AFTER TESTING 

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Copy new source code to the server 
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: ${{ secrets.SSH_PORT }}
        source: "."
        target: "/opt/app"

    - name: Test environment variable 
      uses: appleboy/ssh-action@master 
      env: 
        G: "GURO" 
        E: "ELON" 
        l: "Lowercasename"
      with: 
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: ${{ secrets.SSH_PORT }}
        envs: G,E
        script: echo "$G and $E <- should be GURO and ELON, and $l should be Lowercasename"

    - name: Starting application
      uses: appleboy/ssh-action@master
      env: 
        auth0_client_id: ${{ secrets.AUTH0_CLIENT_ID }} 
        auth0_client_secret: ${{ secrets.AUTH0_CLIENT_SECRET }}
        auth0_domain: ${{ secrets.AUTH0_DOMAIN }}
        host_uri: https://${{ secrets.HOST }}:${{ secrets.WEB_PORT }}/
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: ${{ secrets.SSH_PORT }}
        envs: auth0_client_id,auth0_client_secret,auth0_domain,host_uri
        script: |
          echo $auth0_client_id
          sudo apt-get install unzip -y
          curl -fsSL https://deno.land/x/install/install.sh | sh
          cd /opt/app 
          /***/.deno/bin/deno run --allow-net --allow-read --allow-env --allow-write ./app.ts 
    