name: Deploy

# Based on @asb's comment https://www.digitalocean.com/community/questions/how-to-deploy-using-github-action
on: 
  push: 
    branches: 
        - master 
        - deploy # TODO REMOVE AFTER TESTING 

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Copy new source code to the server 
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: ${{ secrets.PORT }}
        source: "."
        target: "/opt/app"

    - name: Starting application
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: ${{ secrets.PORT }}
        script: cd /opt/app && docker-compose up --build