name: Email Summary Cron

on:
  schedule:
    - cron: "30 07 * * 1" # “At 07:30 on Monday.” - https://crontab.guru/#30_07_*_*_1

jobs:
  triggers:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Trigger Email Summary Endpoint
        uses: satak/webrequest-action@master
        with:
          url: https://krets.app/api/cron/email-summary-trigger
          method: GET
          headers: '{"x-krets-email-summary-secret": "${{ env.EMAIL_SUMMARY_SECRET }}"}'
