name: Tests

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    services:
      localhost:
        image: postgres
        env:
          POSTGRES_PASSWORD: pass
          POSTGRES_USER: user
          POSTGRES_DB: data
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - run: yarn 
    - run: yarn test
      env:
        PGHOST: localhost
        PGUSER: user
        PGPASSWORD: pass
        PGDATABASE: data
